@import "normalize";
@import "layout";
@import "slick";
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300,400');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
$bp-small:320px;
$bp-medium: 768px;

body{
	color: #fff;
	background: #fff;
	font: 400 18px/1 "Alegreya Sans SC", sans-serif;

}



/* Layout */
.ba-container{
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1170px;
}

.ba-container--mod {
	padding-left: 0px;
	padding-right: 15px;
	max-width: 1250px;
}

/* Typography */
h1, h2, h3, h4, h5,h6, {
	margin: 0;
}

a,
input[type="submit"],
input[type="button"],
button{
	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	text-decoration: none;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	font: 400 18px/1 "Alegreya Sans SC", sans-serif;
	display: inline-block;
	color:#fff;
	background-color: #27BEC7;
	padding: 14px 8px;
	max-width: 180px;
	margin-top: 47px;
	margin-bottom: 110px;
	@media (max-width: 640px - 1px) {
		margin-bottom: 157px;
		margin-right: 35px;
		}
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{
	background: #1A9EA6;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {

	-webkit-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	-moz-transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}

.ba-intro {
	background: url(../img/intro_bg.jpg) 50% no-repeat/cover;
	text-align: center;
	background-color: #E9E9E9;
	&__title {
		font: 400 36px/1 "Alegreya Sans SC", sans-serif;
		color: #323643;
		@media (max-width: 640px - 1px) {
		font-size: 18px;
		}

	}
	&__subtitle {
		font: 400 18px/1 "Alegreya Sans SC", sans-serif;
		color: #323643;
		text-align: left;
		margin: 0;
		margin-top: 30px;
		@media (max-width: 640px - 1px) {
			font-size: 16px;
			margin-top: 29px;
			padding-left: 30%;
		}
	}
	&__info {
		background: url(../img/flag-3158666_960_720.jpg) 50% no-repeat/cover;
		@media (max-width: 640px - 1px) {
			background: url(../img/intro-mobile.jpg) 0% no-repeat/cover;
		}
	}
	&__main {
		float:right;
		max-width: 360px;
		margin-right: 25px;
		padding-top: 128px;
		@media (max-width: 640px - 1px) {
			margin-right: 10%;
			padding-top: 30px;
		}
	}
.ba-menu {
	background-color: #27BEC7;
	padding-top: 15px;
	padding-bottom: 15px;
	a {

		@media (max-width: 640px - 1px) {
			font-size: 24px;
			margin-bottom: 24px;
			margin-left: 45%;

	}
	}
}
.ba-nav {
	display:none;
	@media (min-width: 768px) {
		display: block;
	}

}
}
.ba-logo {
	font-size: 36px;
	color: #fff;

}
.ba-main-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	a {
		font: 400 18px/1 "Alegreya Sans SC", sans-serif;
		color: #fff;
		margin-top: 20px;
	}

}
.ba-main-nav  li {
	float: left;
	padding-left: 50px;
	margin-top: 7px;
	@media (max-width: 960px - 1px) {
		margin-left: 15px;
		padding-left:  10px;

	}

}
li:first-child {
	padding-left: 0;
}
.ba-main-nav a {
	font: 400 16px/1 "Alegreya Sans SC", sans-serif;
	color: #ffffff;
	text-decoration: none;

}
.ba-main-nav a:hover {
	color: #323643;
}

//price
.ba-price__title {
	font: 400 18px/1 "Alegreya Sans SC", sans-serif;
	color: #323643;
	text-align: center;
	margin-top: 40px;


}
.ba-price__box--mod {
	margin-top: 0;
	margin-top: 70px;
}
.ba-price__box {
	display: flex;
	margin-top: 55px;
}

.ba-advantages__list {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			margin-top: 30px;
			font: 300 16px/1 "Open Sans Condensed", sans-serif;
			color: #323643;
			display: flex;
			align-items: center;
			p {
				margin: 0;
			}
		}

}
.ba-price__img {
	width: 75px;
	height: 75px;
	margin-left: 25px;
	margin-right: 40px;
	margin-top: 7px;
}
.ba-advantages__img {
			background: url(../img/1276844-48.png) 50% no-repeat;
		width: 35px;
		height: 33px;
		margin-right: 9px;
}


.ba-price__subtitle {
	font: 400 16px/1 "Alegreya Sans SC", sans-serif;
	color: #323643;
	padding-left: 45px;
}
.ba-price__options {
	margin: 0;
	margin-top: 42px;
	font: 400 18px/1 "Alegreya Sans SC", sans-serif;
	color: #323643;
	margin-left: 45px;
}
.ba-price__options2 {
	margin: 0;
	margin-top: 20px;
	margin-left: 45px;
	font: 400 18px/1 "Alegreya Sans SC", sans-serif;
	color: #323643;
}

.ba-main {
	margin-top: 58px;
	background: url(../img/price-woman.jpg) 50% no-repeat;
	background-position: right bottom;
	right: 50%;
	padding-bottom: 110px;
}
.ba-woman {
	text-align: left;
	padding-top: 140px;
	a{
		color: #323643;
		padding-left: 20px;
		font: 400 36px/1 "Alegreya Sans SC", sans-serif;
	}
}
.ba-woman__title {
	font: 400 36px/1 "Alegreya Sans SC", sans-serif;
	color: #323643;
}






//footer
.ba-footer {
	background-color: #27BEC7;
	padding: 20px 0;
	a {
		color: #FFF;
	}
	&__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;

	}
	&__contacts {
		display: flex;
		img {
		width: 30px;
		height: 30px;
		}
	}
	&__social-icon {
	margin-left: 10px;
	svg{
	fill: #fff;
	width: 20px;
	height: 20px;
	}
	}
	.ba-contact {
		display: flex;
		align-items: center;
		a{
			margin-left: 10px;
		}
	}
	.ba-contact + .ba-contact {
		margin-left: 70px;
	}
}

.ba-hide {
	display: none;
}
/*.ba-row--footer {
	display: flex;
	//justify-content: space-between;
}


.ba-copyright {
	text-align: left;
	display:inline-block;
}
.ba-mail {
	display: flex;
	img {
		width: 40px;
		height: 40px;
	}
	a {
		text-align: center;
	}
}*/
